---
# Feel free to add content and custom Front Matter to this file.

layout: home
---
<article class="helvetica pb5" id="herohero">
  <header class="vh-100 dt w-100">
    <div
      class="dtc v-mid cover ph3 ph4-m ph5-l">
      <h1 class="f2 f-subheadline-l measure lh-title fw9">A minimal web browser for the distributed web</h1>
    </div>
  </header>

<style>
#herohero{
  background-image: url("/images/block.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
