---
layout: home
---


<article class="helvetica pb5" id="heroprotocol">
  <header class="vh-100 dt w-100">
    <div
    style="background:url(/images/222.jpg) no-repeat center right;background-size: cover;"

      class="dtc v-mid cover ph3 ph4-m ph5-l">
      <h1 class="f2 f-subheadline-l measure lh-title fw9 purple">Supported Protocols</h1>
    </div>
  </header>
</article>

<div class="f4 mb5 pa3 lh-copy mt0-ns near-white" id="hello">
    <ul class="list pl0 measure center white">
      <li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--black-30"><p>BitTorrent (bittorrent:// and magnet:)
Able to view contents of torrents
Stream video and image data
Translate magnet: URIs to bittorrent: URLs</p></li>
      <li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--black-30"><p> Hypercore (hyper://)
Able to read from archives
Able to resolve dat-dns domains
Able to write, create and modify archives</li></p>
      <li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--black-30"><p>Dat (dat://)
Able to read from archives
Able to resolve dat-dns domains
No DatArchive support</li></p>
      <li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--black-30"><p> Gemini (gemini://)
Able to read from gemini servers
Render Gemini pages as HTMLs
No certificate management code yet</li></p>
      <li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--black-30"><p>IPFS (ipfs)
Able to read from ipfs:// and ipns:// URLs
Able to POST data into IPFS
Able to PUBLISH an infohash to IPNS</li></p>

    </ul>
  </div>
