<footer class="pv5 tc" id="footer">
    <div class="flex-container" id="icons">
        <div class="iconc">
        <div class="one"><a href="https://rubygems.org/gems/static_site_builder">
          <img src="/images/mauve.png">
        </a>
        </div>
        <div class="two"><a href="/">
          <img src="/images/twitter.png">
        </a></div>
        <div class="three"><a href="/">
          <img src="/images/discord.png">
        </a></div>
        <div class="three"><a href="/">
          <img src="/images/4848x.png">
        </a></div>
    </div>

  </footer>
