<footer class="pv5 tc" id="footer">
    <div class="flex-container" id="icons">
        <div class="iconc">
        <div class="one"><a href="https://software.mauve.moe/" target="_blank">
          <img src="/images/mauve.png">
        </a>
        </div>
        <div class="two"><a href="https://twitter.com/RangerMauve" target="_blank">
          <img src="/images/twitter.png">
        </a></div>
        <div class="three"><a href="https://discord.gg/QYY2Nq2B" target="_blank">
          <img src="/images/discord.png">
        </a></div>
        <div class="three"><a href="https://joshua-woods-dev.vercel.app/" target="_blank">
          <img src="/images/4848x.png">
        </a></div>
    </div>

  </footer>
