<div class="icon mv3">
  <br>
  <img src="/images/logo.png" class="dib mt3 w4 h4 br-100" alt="Site Name" id="logo">
</div>

  <script>
  var options = {
    duration: 1500,
    delay: 1000,
    iterations: Infinity,
    direction: 'alternate',
    fill: 'both',
    id: 'myAnimation'
  };

  window.animatelo.pulse('#logo',options);
  </script>
